@media screen and (max-width: 768px) {
    body {
        margin: 0;
        font-size: 1em;
    }
    header {
        width: 100%;
    }
    header img {
        width: 100vw;
    }
    header h1 {
        bottom: 3.5vh;
    }
    main img {
        width: 95%;
    }
    nav {
        margin-bottom: 3vh;
    }
    #homelink,
    #productlink,
    #lilylink,
    #orderlink,
    .dropdown-item {
        font-size: 18px;
    }
    main li>p {
        margin-left: 20px;
    }
    form {
        margin: 0 5vw;
    }
    #submitbtn {
        font-size: 17px;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0 10vw;
        font-size: 1.1em;
    }
    header img {
        width: 80vw;
    }
    header h1 {
        bottom: 6vh;
    }
    main img {
        width: 60vw;
    }
    nav {
        margin-bottom: 5vh;
    }
    #homelink,
    #productlink,
    #lilylink,
    #orderlink,
    .dropdown-item {
        font-size: 19px;
    }
    form {
        margin: 0 8vw;
    }
    #submitbtn {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {
    body {
        margin: 0 15vw;
        font-size: 1.2em;
    }
    header img {
        width: 70vw;
    }
    header h1 {
        bottom: 6vh;
        padding: 2vh;
    }
    main img {
        width: 45vw;
    }
    #homelink,
    #productlink,
    #lilylink,
    #orderlink,
    .dropdown-item {
        font-size: 20px;
    }
    form {
        margin: 0 15vw;
    }
    #submitbtn {
        font-size: 19px;
    }
}